# 無視するファイルの詳細: https://help.github.com/articles/ignoring-files/

# 依存関係
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# テスト
/coverage

# next.js
/.next/
/out/

# 本番ビルド
/build

# その他
.DS_Store
*.pem

# デバッグ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ローカル環境変数
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
